@model ExpenseCalculator.Models.Payment

@{
    ViewData["Title"] = "Create";
    var users = @ViewBag.Users;
    var paymentType = -1;
}

<h1>Create</h1>

<h4>Payment for @Model.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
                @if (ViewBag.UserId == "NoUserAssigned")
                {
                    <label asp-for="Payer" class="control-label"></label>
                    @Html.DropDownList("Payer", users, "Select user", new {@class = "form-control"})
                    <!--<select asp-for="Payer" class="form-control" asp-items="@(new SelectList(users, "Value", "Text"))" />-->
                    <span asp-validation-for="Payer" class="text-danger"></span>
                }
                else
                {
                    <input asp-for="Payer" type="hidden" />
                }
            </div>
            <div class="form-group">
                <input asp-for="Name" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Ammount" class="control-label"></label>
                <input asp-for="Ammount" class="form-control" />
                <span asp-validation-for="Ammount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ExpenseId" type="hidden" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <input type="hidden" name="paymentType" value="@paymentType" />
        </form>
    </div>
</div>

<div>
    <a asp-cpontroller="Expenses" asp-action="Details" asp-route-id="@Model.ExpenseId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
