@model IEnumerable<ExpenseCalculator.Models.Payment>

@{
    ViewData["Title"] = "Index";
    var total = 0.0f;
    foreach(var item in Model)
    {
        total += item.Ammount;
    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@{
if (total > 0)
{
    <h2>You will receive <span style="color:green">@total</span> from administrator.</h2>
}
else if (total < 0)
{
    <h2>You have to pay <span style="color:red">@total</span> to administrator.</h2>
}
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Total: @total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Payer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ammount)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><span class="bi bi-pencil-fill"></a>
            </td>
        </tr>
}
    </tbody>
</table>
