@model ExpenseCalculator.Models.Expense

@{
    ViewData["Title"] = "Details";
    var payments = ViewBag.Payments as List<ExpenseCalculator.Models.Payment>;
    var expenseUserName = ViewBag.ExpenseUserName;
    var totalPayments = 0.0f;
    var creatorName = ViewBag.CreatorUserName;
    var myUserName = ViewBag.MyUserName;
    var isAdmin = ViewBag.IamAdmin;
    foreach(var item in payments) { totalPayments += item.Ammount; }
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayedBy)
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.ExpenseUserName
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmmount)
        </dd>
        <dt class = "col-sm-2">
            Is Group Expense
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquallyDivided)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnContribution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnContribution)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-controller="Payments" asp-action="Create" asp-route-id="1" asp-route-expenseId="@Model?.Id" asp-route-expenseName="@Model?.Name">Add Payment</a>
    <a class="btn btn-primary" asp-controller="Payments" asp-action="Create" asp-route-id="2" asp-route-expenseId="@Model?.Id" asp-route-expenseName="@Model?.Name">Ask For Payment</a>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Details" asp-controller="Trips" asp-route-id="@Model?.TripId">Back to List</a>
</div>
<table class="table">
    <thead>
        <tr>
			<th>
				Payer
            </th>
			<th>
				Name
            </th>
            <th>
                Total: @totalPayments
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (payments != null)
            @foreach (var item in payments)
            {
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Payer)
					</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ammount)
					</td>
					<td>
                        @if (item.Payer == myUserName 
                            || creatorName == myUserName
                            || expenseUserName == myUserName
                            || isAdmin)
                        {
                            <a class="btn btn-primary" asp-controller="Payments" asp-action="Edit" asp-route-id="@item.Id"><span class="bi bi-pencil-fill"></a>
                        }
                    </td>
                </tr>
            }
    </tbody>
