@model IEnumerable<ExpenseCalculator.Models.Expense>

@{
    ViewData["Title"] = "Index";
    var perUser = 0.0f;
    if (ViewBag.perUser != null)
        perUser = -1 * ViewBag.perUser;
    var myUserName = ViewBag.myUserName;
    var isAdmin = ViewBag.IamAdmin;
    var isCreator = ViewBag.IamCreator;
}

<h1>@ViewBag.tripName</h1>

<p>
    <a class="btn btn-primary" asp-controller="Expenses" asp-action="Create" asp-route-id="@ViewBag.tripId">Add New Expense</a>
    <a class="btn btn-primary" asp-controller="Expenses" asp-action="Index" asp-route-id="@ViewBag.tripId">Refresh</a>
</p>
@if (ViewBag.NoExpenses)
{
    <span style=" color:orangered"> No group expenses</span>
}
else
{

<h3>Total: @ViewBag.total</h3>
<h3>... per user: @perUser</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Payed by
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Amount
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PayedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmmount)
            </td>
            <td>
                @if (item.PayedBy == myUserName
                       || isAdmin || isCreator)
                {
                    <div>
				    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id"><span class="bi bi-pencil-fill"></a> |
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id"><span class="bi bi-trash"></a>
                    </div>
                }
            </td>
        </tr>
}
    </tbody>
</table>
}